* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
    background-color: rgb(218, 218, 218);
}

main, header {
    text-align: center;
    width: 100%;
    max-width: 600px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    font-size: 18px;
}

button {
    cursor: pointer;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tasks {
    cursor: pointer;
    text-align: start;
    margin-top: 30px;
}

.clicado {
    text-decoration: line-through;
}
